/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: 'Poppins', sans-serif;
  background: #19191D;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
/* Adjust the logo size */
.logo img {
  width: 150px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Centers the image */
  margin: 0 auto; /* Optional: Center horizontally in its container */
}


/* Login Container */
.login-container {
  width: 100%;
  max-width: 600px;
  background: #18171B;
  padding: 50px 40px; /* Adds padding to the entire box */
  border-radius: 12px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  flex-direction: column; /* Arrange elements vertically */
  align-items: center; /* Center contents horizontally */
}

/* Login Header Inside the Box */
.login-header {
  margin-top: 50px; /* Adds spacing below the header */
  margin-bottom: 50px;
  font-size: 28px; /* Larger font for the header */
  font-weight: 600;
  text-align: center;
}

/* Form Inputs */
form {
  width: 100%; /* Full width of the container */
  padding: 20px; /* Add some padding inside the form */
  margin-bottom: 20px; /* Spacing below the form */
  border-radius: 12px; /* Add rounded corners */
}

form label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

form input {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  background: #222; /* Darker input background */
  color: white; /* White text color */
  
}
form input:focus,
form input{
  outline: none; /* Remove the default focus outline */
  border-color: #fff; /* Optional: Blue border on focus */
}

/* Submit Button */
form button {
  width: 100%;
  padding: 12px;
  background: #444;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background: grey;
}

/* Social Login */
.social-login {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.social-login a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #444;
  color: white;
  width: 48%;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.social-login a:hover {
  background: #666;
}

.social-login a i {
  margin-right: 8px;
}

/* Forgot Password Link */
.forgot-password {
  text-align: center;
  margin-top: 20px;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
/* New Account Link */
.new-account {
  text-align: center;
  margin-top: 20px;
}

.new-account a {
  color: #007bff;
  text-decoration: none;
}

.new-account a:hover {
  text-decoration: underline;
}